header {
  background-color: #F5C6AA;
}

body {
  background-color: #F5C6AA;
  text-align: center;
  font-size: 100%;
}

hr {
  border-color: #FDF6F0;
  border-style: none;
  border-top-style: dotted;
  height: 0;
  border-width: 0.75rem;
  width: 10%;
  margin: 5rem auto;
}

h1 {
  font-family: 'Merriweather', serif;
  padding-bottom: 2rem;
  padding-top: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

h5 {
  font-family: 'Merriweather', serif;
  padding: 0.5rem 0;
}

p {
  margin-left: 2rem;
  margin-right: 2rem;
}

input {
  margin-bottom: 0.5rem;
  width: 200px;
  border-radius: 10px;
  border: 0;
  text-align: center;
}

textarea {
  border-radius: 10px;
  border: 0;
  text-align: center;
}

#testimonials {
  background-color: #F5C6AA;
}

/* Title Section */

.logo {
  width: 120px;
}

.beauty-room {
  width: 100%;
}

/* Testimonials Section */

.testimonials-container {
  width: 70%;
  margin: auto;
}

 .testimonial-caption {
  font-family: 'Oooh Baby', cursive;
  font-weight: bold;
}

/* Media Queries */

@media (max-width: 400px) {
 .testimonial-caption {
   font-size: 6vw;
 }
 .logo {
   width: 80px;
 }
 #testimonials h5 {
   font-size: 0.75rem;
   width: 100%;
 }
 .testimonials-container {
   width: 100%;
 }
 .carousel-caption {
   width: 100%;
   left: 0;
   right: 0;
 }
 hr {
   margin: 2rem auto;
   border-width: 0.4rem
 }
 .testimonial-images {
   width: 100%;
 }
 .carousel-control-next, .carousel-control-prev {
   width: 10%;
 }
 fieldset {
   width: 190px;
   margin: 0 auto;
   text-align: left;
 }
}

/* Carousel Section */

.testimonial-images {
  border-radius: 100% 100% 100% 100%;
  width: 50%;
  margin: 0 auto;
}

#carouselExampleCaptions {
  height: 30%;
}

.carousel-caption {
  font-size: 2rem;
  padding-bottom: 0;
  bottom: 0;
}

.carousel-indicators {
  width: 20%;
  margin: 0 auto;
}

/* Pricing Section */

.card-body, .card-img-top {
  background-color: #F8E2CF;
}

.pricing-container {
  width: 70%;
  margin: 0 auto;
}

.card {
  border: 0;
}

/* Contact Section */

fieldset {
  width: 200px;
  margin: 0 auto;
  text-align: left;
}

/* Socials Section */

#socials {
  background-color: #F8E2CF;
  height: 6rem;
  margin-top: 2rem;
}

.social-icons {
  color: #F5C6AA;
  margin: 2rem 2rem;
  font-size: 2rem;
}

.social-icons:hover {
  color: red;
}
